@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
    color: black;
	height: auto;
	width: auto;
}

.dark-mode {
  background-color: black;
  color: white;
  height: auto;
  width: auto;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
  }
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}