.btn{
  padding: 10px 20px;
  color: #fff;
  border: 0;
  border-radius: 4px;
}

.btn:active{
  filter: brightness(0.8) contrast(1.2);
}

.badge{
  background-color: #fff;
  color: #555;
  font-weight: bold;
  padding: 0 5px;
  border-radius: 50px;
}


.loader{
  position: absolute;
  width: 260px;
  height: 50px;
  padding: 15px 0;
  top: 0;
  left: 50%;
  margin-left: -130px;
  text-align: center;
  z-index: 9;

  >span{
    display: inline-block;
  }

  .dot-loader {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #90C551;
    position: relative;
    -webkit-animation: 1.2s grow ease-in-out infinite;
    animation: 1.2s grow ease-in-out infinite;
  }
  
  .dot-loader--2 {
    -webkit-animation: 1.2s grow ease-in-out infinite 0.15555s;
    animation: 1.2s grow ease-in-out infinite 0.15555s;
    margin: 0 20px;
  }
  .dot-loader--3 {
    -webkit-animation: 1.2s grow ease-in-out infinite 0.3s;
    animation: 1.2s grow ease-in-out infinite 0.3s;
  }
}

@-webkit-keyframes grow {
  0%, 40%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes grow {
  0%, 40%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}