body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 320px;
  max-width: 320px;
  height: 580px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #444;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8CC44C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8CC44C;
}