.container{
  position: relative;
  padding: 20px 10px;
}

.bg-orb{
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  background: radial-gradient(circle at 50% 33%, #a7db6b 5%, #90C653 23%, #5a8627 50%, #426916 100%);

  &::after, &::before{
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 50%;
  }
  &::after{
    top: -1px;
    box-shadow: 0 0 0 2px #555 inset;
  }
  &::before{
    top: 1px;
    box-shadow: 0 0 0 2px #aaa inset;
  }
}
.bg-orb.not-safe{
  background: radial-gradient(circle at 50% 33%, #d85142 5%, #C0392B 23%, #92291e 50%, #5d1810 100%);
}

.floating-bar{
  position: absolute;
  width: 260px;
  height: 50px;
  bottom: 50px;
  left: 50%;
  margin-left: -130px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.2), -2px 2px 20px rgba(0,0,0,0.2);

  >div{
    position: relative;
    padding: 0 10px;

    input{
      width: 100%;
      font-size: 18px;
      color: #333;
      text-align: center;
      margin: 0;
      line-height: 50px;
      border: 0;
      background-color: transparent;
      box-shadow: none;
      outline: none;
    }
  }
}

.status-message{
  position: absolute;
  width: 280px;
  height: 60px;
  bottom: 110px;
  left: 50%;
  margin-left: -140px;

  h1{
    font-size: 28px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 8px rgba(0,0,0,0.4);
  }
}

.display-icon{
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 170px;
  left: 50%;
  margin-left: -40px;

  .icon{
    font-size: 80px;
    color: #fff;
    text-shadow: 0 0 20px #fff;
  }
}

.w-100{
  width: 100%;
}

.align-top{
  vertical-align: top;
}

.footer{
  position: fixed;
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 0;
  background-color: #444;

  p{
    color: #fff;
    height: 40px;
    margin: 0;
    text-align: center;
    line-height: 40px;
  }
}

.back-button{
  cursor: pointer;
  td{
    vertical-align: middle;
    font-size: 20px;
    color: #666;
     span{
       display: inline-block;
       line-height: 30px;
       margin: 0;
     }
  }
}