.h-100{
  height: 100%;
}

.align-middle, .text-center{
  text-align: center;
}

.mt-1{
  margin-top: 10px !important;
}
.mt-2{
  margin-top: 20px !important;
}
.mt-3{
  margin-top: 30px !important;
}
.mt-4{
  margin-top: 40px !important;
}
.mt-5{
  margin-top: 50px !important;
}

.mb-1{
  margin-bottom: 10px !important;
}
.mb-2{
  margin-bottom: 20px !important;
}
.mb-3{
  margin-bottom: 30px !important;
}
.mb-4{
  margin-bottom: 40px !important;
}
.mb-5{
  margin-bottom: 50px !important;
}