.tab-block{
  .tab-container {
    position: relative;
    font-size: 0;
    overflow: hidden;

    input {
      display: none;
      &:checked + label {
        background: #F9F9F9;
      }
      @for $i from 1 through 2 {
        &#tab#{$i}:checked {
          ~ .tabline {
            left: #{($i - 1) * 50%};
          }
          ~ .tab-content-container #tabcontent#{$i} {
            opacity: 1;
          }
        }
      }
    }

    .tablabel {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      width: 50%;
      text-align: center;
      background: #EEE;
      font-size: 16px;
      color: #555;
      position: relative;
      transition: 0.25s background ease;
      cursor: pointer;

      &::after {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        display: block;
        background: #CCC;
        bottom: 0;
        opacity: 0;
        left: 0;
        transition: 0.25s ease;
      }

      &:hover::after {
        opacity: 1;
      }
  
    }

    .tabline {
      position: absolute;
      height: 2px;
      background: #8EC44E;
      width: 50%;
      top: 48px;
      left: 0;
      transition: 0.25s ease;
    }

    .tab-content-container {
      position: relative;
      height: 360px;
      font-size: 16px;

      .tab-content {
        position: absolute;
        width: 100%;
        top: 0;
        opacity: 0;
        transition: 0.25s ease;
        color: #333;

        >div{
          padding: 0 10px;
        }

        p, h1, h2, h3, h4{
          margin: 0;
        }
      }
    }
  }
}