#voting-content{
  position: relative;
  padding: 20px 10px;
}

.bg-orb{
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  background: radial-gradient(circle at 50% 33%, #a7db6b 5%, #90C653 23%, #5a8627 50%, #426916 100%);

  &::after, &::before{
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 50%;
  }
  &::after{
    top: -1px;
    box-shadow: 0 0 0 2px #555 inset;
  }
  &::before{
    top: 1px;
    box-shadow: 0 0 0 2px #aaa inset;
  }
}

.bg-orb.not-safe{
  background: radial-gradient(circle at 50% 33%, #d85142 5%, #C0392B 23%, #92291e 50%, #5d1810 100%);
}

.floating-bar{
  position: absolute;
  width: 260px;
  height: 50px;
  bottom: 50px;
  left: 50%;
  margin-left: -130px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.2), -2px 2px 20px rgba(0,0,0,0.2);

  >div{
    position: relative;
    padding: 0 10px;

    input{
      width: 100%;
      font-size: 18px;
      color: #333;
      text-align: center;
      margin: 0;
      line-height: 50px;
      border: 0;
      background-color: transparent;
      box-shadow: none;
      outline: none;
    }
  }
}

.status-message{
  position: absolute;
  width: 280px;
  height: 60px;
  bottom: 110px;
  left: 50%;
  margin-left: -140px;

  h1{
    font-size: 28px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 8px rgba(0,0,0,0.4);
  }
}

.display-icon{
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 170px;
  left: 50%;
  margin-left: -40px;

  .icon{
    font-size: 80px;
    color: #fff;
    text-shadow: 0 0 20px #fff;
  }
}

.loader{
  position: absolute;
  width: 260px;
  height: 50px;
  padding: 15px 0;
  top: 0;
  left: 50%;
  margin-left: -130px;
  text-align: center;
  z-index: 9;

  >span{
    display: inline-block;
  }

  .dot-loader {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #90C551;
    position: relative;
    -webkit-animation: 1.2s grow ease-in-out infinite;
    animation: 1.2s grow ease-in-out infinite;
  }
  
  .dot-loader--2 {
    -webkit-animation: 1.2s grow ease-in-out infinite 0.15555s;
    animation: 1.2s grow ease-in-out infinite 0.15555s;
    margin: 0 20px;
  }
  .dot-loader--3 {
    -webkit-animation: 1.2s grow ease-in-out infinite 0.3s;
    animation: 1.2s grow ease-in-out infinite 0.3s;
  }
}

@-webkit-keyframes grow {
  0%, 40%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes grow {
  0%, 40%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}