@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?bwcsid') format('truetype'),
    url('fonts/icomoon.woff?bwcsid') format('woff'),
    url('fonts/icomoon.svg?bwcsid#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e905";
}
.icon-help:before {
  content: "\e900";
}
.icon-check-mark:before {
  content: "\e901";
}
.icon-exclamation:before {
  content: "\e902";
}
.icon-thumb-up:before {
  content: "\e903";
}
.icon-thumb-down:before {
  content: "\e904";
}
