* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: 300;
}

.shadow-1,
.language-dropdown ul.lang-list,
.language-dropdown label {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2,
.language-dropdown.open label {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

body {
    background-color: #e7e7e7;
    text-align: center;
    padding: 100px;
}

.language-dropdown {
    display: inline-block;
    margin: 20px 50px;
}

.language-dropdown .lang-en {
    border-left: 4px solid #E2162C;
}

.language-dropdown .lang-en .flag {
    background-image: url("http://findicons.com/files/icons/282/flags/48/united_states_of_america_usa.png");
}

.language-dropdown .lang-pt {
    border-left: 4px solid #1ABC9C;
}

.language-dropdown .lang-pt .flag {
    background-image: url("http://icons.iconarchive.com/icons/icondrawer/flags/48/Brazil-icon.png");
}

.language-dropdown .lang-es {
    border-left: 4px solid #DA4D13;
}

.language-dropdown .lang-es .flag {
    background-image: url("http://www.imaginarium.pt/responsive/2015/images/iconsFicha/banderaES.png");
}

.language-dropdown label,
.language-dropdown ul li {
    display: block;
    width: 50px;
    height: 38px;
    background: #fff;
    padding: 0px 6px;
    cursor: pointer;
}

.language-dropdown ul.lang-list {
    position: relative;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.language-dropdown ul.lang-list li {
    border-bottom: 1px solid #ECECEC;
}

.language-dropdown ul.lang-list li:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.language-dropdown ul.lang-list li.selected {
    display: none;
}

.language-dropdown label {
    position: relative;
    border-bottom: 1px solid #ECECEC;
    border-radius: 3px;
    z-index: 2;
}

.language-dropdown .lang-flag .flag,
.language-dropdown .lang-list .lang .flag {
    float: left;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
}

.language-dropdown.open ul.lang-list {
    visibility: visible;
    opacity: 1;
}

.language-dropdown.open label {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.animate,
.lang-flag,
.lang-list {
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}